body {
  padding-top: 3rem;
  padding-bottom: 40px;
  background-color: #eee;
}

.alert{
  text-align: center;
}

.form-signin {
  border-radius: 1rem;
  padding: 5rem;
  margin: 0 auto;
  max-width: 800px;
  box-shadow: 5px 5px 25px 5px rgba(0, 18, 84, 0.72);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
