<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/cover.css" />
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">PFF</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">Home Automation System</h1>
          <p class="lead">This project involves the design and construction of an individual control home automation system using android app and web interface</p>
          <p class="lead">
            <a href="/login" class="btn btn-lg btn-default">Log In</a>
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>Designed & Coded by <a href="http://gzizou.ml" target="_blank">@Med-Salem</a>.</p>
          </div>
        </div>

      </div>

    </div>

  </div>

</body>
</html>
